#white-fighter {
	background-color: #D3D3D3;
	color: black;
	text-align: center;
}

#pink-fighter {
	background-color: #ffe4e1;
	color: black;
	text-align: center;
}

#green-fighter {
	background-color: #98fb98;
	color: black;
	text-align: center;
}

#blue-fighter {
	background-color: #00bfff;
	color: black;
	text-align: center;
}

#white-fighter-power, #pink-fighter-power, #green-fighter-power, #blue-fighter-power{
	text-align: center;
}

.my-character {
	background-color: red;

}



.white {
	background-color: gray;
}

.pink {
	background-color: pink;
}

.green {
	background-color: green;
}


.blue {
	background-color: blue;
}